In [4]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [5]:
data=pd.read_csv('cell_samples - cell_samples.csv')

In [6]:
data

,ID,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [7]:
data.drop('ID', axis=1, inplace = True)

In [8]:
data

,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Clump        699 non-null    int64
 1   UnifSize     699 non-null    int64
 2   UnifShape    699 non-null    int64
 3   MargAdh      699 non-null    int64
 4   SingEpiSize  699 non-null    int64
 5   BareNuc      699 non-null    object
 6   BlandChrom   699 non-null    int64
 7   NormNucl     699 non-null    int64
 8   Mit          699 non-null    int64
 9   Class        699 non-null    int64
dtypes: int64(9), object(1)
memory usage: 54.7+ KB

In [10]:
data.columns

Index(['Clump', 'UnifSize', 'UnifShape', 'MargAdh', 'SingEpiSize', 'BareNuc',
       'BlandChrom', 'NormNucl', 'Mit', 'Class'],
      dtype='object')

In [11]:
set(data['BareNuc'])

{'1', '10', '2', '3', '4', '5', '6', '7', '8', '9', '?'}

In [12]:
data=data[data['BareNuc']!='?']

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Clump        683 non-null    int64
 1   UnifSize     683 non-null    int64
 2   UnifShape    683 non-null    int64
 3   MargAdh      683 non-null    int64
 4   SingEpiSize  683 non-null    int64
 5   BareNuc      683 non-null    object
 6   BlandChrom   683 non-null    int64
 7   NormNucl     683 non-null    int64
 8   Mit          683 non-null    int64
 9   Class        683 non-null    int64
dtypes: int64(9), object(1)
memory usage: 58.7+ KB

In [14]:
set(data['BareNuc'])

{'1', '10', '2', '3', '4', '5', '6', '7', '8', '9'}

In [15]:
data['BareNuc']=data['BareNuc'].astype(int)

/var/folders/t4/31j0b7js0pd92n1tw_ccxp500000gn/T/ipykernel_38374/596923336.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['BareNuc']=data['BareNuc'].astype(int)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Clump        683 non-null    int64
 1   UnifSize     683 non-null    int64
 2   UnifShape    683 non-null    int64
 3   MargAdh      683 non-null    int64
 4   SingEpiSize  683 non-null    int64
 5   BareNuc      683 non-null    int64
 6   BlandChrom   683 non-null    int64
 7   NormNucl     683 non-null    int64
 8   Mit          683 non-null    int64
 9   Class        683 non-null    int64
dtypes: int64(10)
memory usage: 58.7 KB

In [17]:
data

,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

In [18]:
X=data.drop(['Class'],axis=1)

In [19]:
y=data[['Class']]

In [20]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y, test_size=0.2)

In [21]:
xtrain.shape

(546, 9)

In [22]:
xtest.shape

(137, 9)

In [23]:
svc=SVC()

In [24]:
svc.fit(xtrain,ytrain)

/Volumes/Work/Anaconda/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [25]:
ypred=svc.predict(xtest)

In [26]:
accuracy = accuracy_score(ypred,ytest)*100

In [27]:
accuracy

97.08029197080292

In [28]:
# help(SVC)
# {'linear', 'poly', 'rbf', 'sigmoid', 'precomputed'}

In [29]:
svc=SVC(kernel='linear')
svc.fit(xtrain,ytrain)
y_pred = svc.predict(xtest)
accuracy = accuracy_score(ypred,ytest)*100
accuracy

/Volumes/Work/Anaconda/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

97.08029197080292

In [30]:
svc=SVC(kernel='poly')
svc.fit(xtrain,ytrain)
y_pred = svc.predict(xtest)
accuracy = accuracy_score(ypred,ytest)*100
accuracy

/Volumes/Work/Anaconda/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

97.08029197080292

In [31]:
svc=SVC(kernel='sigmoid')
svc.fit(xtrain,ytrain)
y_pred = svc.predict(xtest)
accuracy = accuracy_score(ypred,ytest)*100
accuracy

/Volumes/Work/Anaconda/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

97.08029197080292

In [32]:
svc=SVC(kernel='rbf')
svc.fit(xtrain,ytrain)
y_pred = svc.predict(xtest)
accuracy = accuracy_score(ypred,ytest)*100
accuracy

/Volumes/Work/Anaconda/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

97.08029197080292

# Final Model

In [33]:
svc=SVC(kernel='linear')
svc.fit(xtrain,ytrain)
y_pred = svc.predict(xtest)
accuracy = accuracy_score(ypred,ytest)*100
accuracy

/Volumes/Work/Anaconda/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

97.08029197080292

In [34]:
data.columns

Index(['Clump', 'UnifSize', 'UnifShape', 'MargAdh', 'SingEpiSize', 'BareNuc',
       'BlandChrom', 'NormNucl', 'Mit', 'Class'],
      dtype='object')

In [35]:
print("Type Values to Prdict Cancer")

clum_size = int(input("Enter Clum Size(1-10): "))
Unif_size = int(input("Enter Unif Size: "))
UnifShape = int(input("Enter UnifShape Size: "))
MargAdh = int(input("Enter MargAdh Size: "))
SingEpiSize = int(input("Enter SingEpiSize Size: "))
BareNuc_size = int(input("Enter BareNuc Size: "))
BlandChrom = int(input("Enter BlandChrom Size: "))
NormNucl = int(input("Enter NormNucl Size: "))
Mit = int(input("Enter Mit Size: "))


user_input=pd.DataFrame({
    'Clump':[clum_size] , 'UnifSize':[Unif_size], 'UnifShape':[UnifShape], 'MargAdh':[MargAdh], 'SingEpiSize':[SingEpiSize], 'BareNuc':[BareNuc_size],
       'BlandChrom':[BlandChrom], 'NormNucl':[NormNucl], 'Mit':[Mit],
})

prediction = svc.predict(user_input.values)

if prediction ==2:
  print(f"Cancer type is Benign.")
elif prediction == 4:
  print(f"Cancer type is Malignant. ")

Type Values to Prdict Cancer